<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
<div class="cont">
    <header class="text-center mt-5">
        <h1 class="display-4">Bienvenido a Monster Hunter API</h1>
        <p class="lead">Explora y busca información sobre armas, armaduras y más en Monster Hunter World.</p>
        <hr class="my-4">
        <p>¡Sumérgete en el mundo de Monster Hunter y conoce todos los detalles de tus armas y armaduras favoritas!</p>
    </header>

    <!-- Imagen o ilustración de Monster Hunter -->
    <div class="text-center mt-5">
        <img src="img/nergi.gif" alt="Monster Hunter Logo"
            class="img-fluid" style="max-width: 300px;">
    </div>

    <!-- Descripción adicional sobre la aplicación -->
    <div class="text-center mt-4">
        <p>Esta aplicación utiliza datos de la base de datos de Monster Hunter para mostrarte todo lo que necesitas
            saber sobre las armas y armaduras en el juego.</p>
        <p>¡Disfruta explorando el contenido y mejorando tu experiencia en el juego!</p>
    </div>
</div>